body {
	background-color: #fff1f1;
}

#header {
	text-align: center;
}

#text {
	width: 90vw;
	margin: auto;
}

#text_area {
	background-color: #fafafa;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
	font-family: 'opendyslexic', Arial, Verdana;
	color: #0a0aaa;
	font-size: 2vw;
	height: 50vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#controller {
	text-align: center;
}

#controller > div {
	padding: 1vw;
}

.slider {
	background-color: #fafafa;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
	font-family: 'opendyslexic', Arial, Verdana;
	display: inline-block;
	vertical-align: top;
	margin: auto;
	padding: calc(5px + 1vw);
	width: 20vw;
	height: calc(20px + 5vw);
}

.slider * {
	color: #0a0aaa;
	position: relative;
	text-align: center;


}

.slide_description {
	/*	width: inherit;*/
	display: block;
	font-size: calc(5px + 1.5vw);
}

input[type="range"] {
	width: calc(5px + 10vw);
	top: 0.55vh;


}

.slide_param {
	font-size: calc(10px + 1.5vw);
}

#p2 {
	width: 90%;
	font-size: calc(5px + 1.5vw);
}
