#header {
	text-align: center;
}

#text {
	width: 90vw;
	margin: auto;
}

#text_area {
	font-family: 'opendyslexic', Arial, Verdana;
	word-spacing: 10px;
	height: 50vh;
	width: 100%;
	overflow-y: auto;

}

#controller {
	text-align: center;
}

#controller div {
	padding: 10px;
}

.slider {
	display: inline-block;
	width: 300px;
	border: 1px solid blue;
}

.slide_description {
	float: left;
}

input[type="range"] {}
