<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/fonts/dyslexia/dyslexia.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/synonyms.css">
    <link rel="stylesheet" href="/css/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/JS/controller.js"></script>
    <script src="/JS/functions.js"></script>
    <script src="/JS/tesseract.js"></script>
    <script src='https://cdn.jsdelivr.net/gh/naptha/tesseract.js@v1.0.14/dist/tesseract.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

</head>

<body>


    <header id="header">
        <h1> Textside</h1>
    </header>
    <div id="content">
        <div id="controller">
            <h3 id="menu">Menu</h3>
            <div class="slider">
                <span class="slide_description">ord afstand</span><input type="range" id="p1" min="0" max="10" value="0" oninput="updateSpacing()"><span class="slide_param" id="p1_param">0</span>
            </div>
            <div class="slider">
                <span class="slide_description">tekst størrelse</span> <input type="number" id="p5" oninput="updateFontSize()">
            </div>

            <div class="slider">
                <span class="slide_description">skrifttype</span> <select id="p2" oninput="updateFont()"></select>
            </div>
            <div class="slider">
                <span class="slide_description synonym">ord sværhed</span> <input type="range" id="p4" min="0" max="2" value="1" oninput="updateDifficulty()"><span class="slide_param" id="p4_param">1</span>
            </div>

            <div class="slider">
                <span class="slide_description">farver</span> <select id="p3" onchange="updateColors()"></select>
            </div>


        </div>


        <div id="text">
            <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
                <!--                <label id="custom_browse" for="userPhoto">-->
                <input type="file" name="userPhoto" />
                <!--                Vælg billede-->
                <!--				</label>-->
                <input type="submit" value="Upload Image" name="submit">
                <span id="status"></span>
            </form>
            <div id="text_area" contenteditable="true">Vi skal overveje at bruge en predefineret tekst, så vi kan teste ændringen af samme ord, hvor vi hardcoder dem. Men prøv at udtale ordet interpercifikulær. Det skriver vi lige igen. Vi skal overveje at bruge en predefineret tekst, så vi kan teste ændringen af samme ord, hvor vi hardcoder dem. Men prøv at udtale ordet interpercifikulær. Faktisk så findes ordet ikke, men prøv lige at overveje , hvis det gjorde. Hvad nu hvis der ikke findes andre af samme ord, altså synonymer. Det bliver svært at lave ændringer til de ord. Vi skal overveje at bruge en predefineret tekst, så vi kan teste ændringen af samme ord, hvor vi hardcoder dem. Men prøv at udtale ordet interpercifikulær. Det skriver vi lige igen. Vi skal overveje at bruge en predefineret tekst, så vi kan teste ændringen af samme ord, hvor vi hardcoder dem. Men prøv at udtale ordet interpercifikulær. Faktisk så findes ordet ikke, men prøv lige at overveje , hvis det gjorde. Hvad nu hvis der ikke findes andre af samme ord, altså synonymer. Det bliver svært at lave ændringer til de ord.
            </div>
        </div>
    </div>

</body>

</html>
