body {
    background-color: #F8F9FA;
}

#content {
    vertical-align: top;
}

#header {
    text-align: center;
	position: sticky;
	left: 15vw;

	
}

#text {
    display: inline-block;
    width: 60vw;
    margin: auto;
}

#text_area{
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
    font-family: 'opendyslexic', Arial, Verdana;
    padding: 1vw;
    padding-left: 2vw;
    font-size: 2vw;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
    left: 30vw;
    color: black;
    background-color: cornsilk;
}


#uploadForm{	
	text-align: center;
} 

#controller {
    display: inline-block;
    position: fixed;
    left: 3vw;
    top: 18vh;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
    /*	border: 1px solid black;*/
    color: black;
    background-color: cornsilk;
}

#controller>div {
    padding: 1vw;
    margin: 1vw;
	height: 8vh;
}

/*this is just the h3-tag=*/
#menu {
	margin-bottom: 5%;
    margin-top: 5%;
}


.slider {
    font-family: 'opendyslexic', Arial, Calibri;
    border: 1px solid black;
    display: block;
    vertical-align: top;
    margin: auto;
/*    padding: calc(5px + 1vw);*/
    width: calc(20px + 14vw);
/*    height: calc(30px + 3vw);*/
}

.slider * {
    color: ;
    position: relative;
    text-align: center;
}

.slide_description {
    /*	width: inherit;*/
    display: block;
    font-size: calc(5px + 1.2vw);
	margin-top: calc(-2px + -0.1vw);
}

input[type="range"] {
    width: calc(5px + 10vw);
    top: 0.55vh;
}

.slide_param {
    font-size: calc(10px + 0.5vw);
}

#p2,
#p3{
    width: 90%;
	height: 50%;
    font-size: calc(8px + 1vw);
}
#p5{	
    width: 50%;
} 
