body {
	background-color: #F8F9FA;
}

#content {
	vertical-align: top;
}

#header {
	text-align: center;
}


#text {
	display: inline-block;
	width: 60vw;
	margin: auto;
}


#text_area {
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
	font-family: 'opendyslexic', Arial, Verdana;
	padding: 1vw;
	padding-left: 2vw;
	font-size: 2vw;
	width: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	position: relative;
	left: 30vw;
	color: black;
	background-color: cornsilk;
}


/* Menu and items

*/

#controller {
	display: inline-block;
	position: fixed;
	left: 3vw;
	top: 3vh;
	margin: auto;
	text-align: center;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
	/*	border: 1px solid black;*/
	color: black;
	background-color: cornsilk;
}

#controller > div {
	padding: 1vw;
	margin: 1vw
}

.slider {
	font-family: 'opendyslexic', Arial, Verdana;
	border: 1px solid black;
	display: block;
	vertical-align: top;
	margin: auto;
	padding: calc(5px + 1vw);
	width: calc(20px + 15vw);
	height: calc(30px + 3vw);
}

.slider * {
	color: ;
	position: relative;
	text-align: center;
}

.slide_description {
	/*	width: inherit;*/
	display: block;
	font-size: calc(5px + 1.2vw);
}

input[type="range"] {
	width: calc(5px + 10vw);
	top: 0.55vh;
}

.slide_param {
	font-size: calc(10px + 0.5vw);
}

#p2 {
	width: 90%;
	font-size: calc(5px + 1.5vw);
}

#p3 {
	width: 90%;
	font-size: calc(5px + 1.5vw);
}
