.synonym {
	color: black;
	background-color: rgba(0, 255, 0, 0.2);
	border: 1px white solid;
	border-radius: 8px;
}
.synonym:hover {
	cursor: pointer;
	border: 1px solid black;
}
.synonym_item {
	background-color: rgba(0, 255, 0, 0.2);
	font-size: 2.4vw;
	margin: 0px;
	padding: 2px;
/*	margin-top: 10px;*/
	text-align: left;
	position: relative;
	user-select: none;
	
}
.synonym_item:hover {
	background-color: rgba(0, 255, 0, 0.4);
	cursor: pointer;
	
}.synonym_item:active {
	background-color: rgba(0, 255, 0, 0.6);
	border: 1px solid black;
	padding: 2px;
/*	margin-bottom: 1px;*/
	cursor: pointer;
}

/*popup pointy effect  for a box*/
/*
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/


/* Modal Content/Box */
.popup {
	display: none;
	/* Hidden by default */
	background-color: #fefefe;
	border-radius: 5px; 
	/*  margin: 15% auto;  15% from the top and centered */
	/*  padding: 20px;*/
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	border: 1px solid #888;
/*	width: 12vw;*/
	
	/* Could be more or less, depending on screen size */
}

.close {
	cursor: pointer;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 10px;
}
.close:hover {
	cursor: pointer;
	color: #000000;
	
}

#synonym_title{
	text-align: center;
	font-size: 2.5vw;
	border-bottom: 1px solid black;
	padding: 5px;
	margin: auto;
}
